  .before,
  .after {
    margin: 0;
  }

  .before figcaption,
  .after figcaption {
    background: #ffffff00;
    border: 1px solid #c0c0c0;
    border-radius: 0px;
    color: #ffffff;
    opacity: 1;
    padding: 5px;
    position: absolute;
    transform: translateY(-50%);
    line-height: 100%;
  }

  .before figcaption {
    left: 12px;
    top: 20%;

  }

  .after figcaption {
    right: 12px;
    top: 80%;
  }

  img-comparison-slider  {
    width: 100%;
  }

  img-comparison-slider figure {
    width: 100%;
  }
  img-comparison-slider figure img {
    width: 100%;
  }

  /* Style pour les liens sur fond blanc */
a {
    color: #000000; /* Couleur du lien */
    text-decoration: none; /* Supprime le soulignement par défaut */
    transition: color 0.3s, background-color 0.3s; /* Transition pour les effets au survol */
  
    /* Effet d'ombre légère pour un aspect mystérieux */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  /* Style au survol du lien */
  a:hover {
    color: #ff5500; /* Couleur du lien au survol */
    background-color: #fff; /* Fond blanc au survol */
  }

  p:first-child {
    margin-top:  0px;

  }

  p:last-child {
    margin-bottom:  0px;

  }